<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home</title>
</head>
<body>
    <!-- Header section -->
    <section id="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <img class="navbar-brand"  src="../static/FullLogo_Transparent (1).png" alt="Logo">
                    <button class="navbar-toggler" type="button"
                    data-target="#navbarSupportedContent" data-toggle="collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="/home" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/services" class="nav-link">Services</a>
                            </li>
                            <li class="nav-item">
                                <a href="/portfolio" class="nav-link">Portfolio</a>
                            </li><li class="nav-item">
                                <a href="/about" class="nav-link">About</a>
                            </li><li class="nav-item">
                                <a href="/contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- header section end -->
    <!-- main section -->
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img class="aimage" src="../static/alex.png" alt="Alex">
                    <h2>About Alex</h2>
                    <p> Hi, my name is Alex Pettyjohn, I am a software developer who specializes in building custom websites. My background is in small business entrepreneurship and I relate closely to the consistency and attention to detail required when building your own brand. When I'm not coding I love spending time at the beach with my family or learning new technologies. If you are interested in a website, need help with your current one, or just want to connect please don't hesitate to reach out! </p>
                    <a href="/contact" class="readMore">Contact</a>
                </div>
            </div>
        </div>
    </section>
    <!-- main section end -->
</body>
</html>